/* Box Model Fix */

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/* UTILITY CLASSES */

.container {
    width: 67.5rem;
    max-width: 88.75vw;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PAGE STYLES */

body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Commissioner', sans-serif;
    --clr-white: #FFF;
    --clr-light-grey: #F5F0F0;
    --clr-dark-grey: #959494;
    --clr-deep-dark-grey: #434343;
    --clr-black-text: #232323;
    --clr-black-bg: #262626;
    --clr-coral: #FF9696;
    --clr-light-pink: #FFCBE1;
    --clr-blue: #3046BB;
    --clr-light-blue: #566FF5;
    --gradient-blue: linear-gradient(180deg, #566FF5 0%, #3046BB 100%);
    --gradient-light-yellow-pink: linear-gradient(180deg, #FCFFEA 23.96%, #FFCBE1 72.40%, #FFCBCB 100%)
}

main {
    width: 100%;
}

/* HEADER */

.header {
    height: clamp(4rem, 3.579rem + 2.105vw, 5rem);
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: clamp(6.313rem, 5.76rem + 2.763vw, 7.625rem);
}

/* MAIN */

/* PREDICTION SECTION */

/* INTRO */

.prediction__intro .container {
    position: relative;
}

.prediction__intro .container::after {
    content: "";
    position: relative;
    width: clamp(24.375rem, 23.533rem + 4.211vw, 26.375rem);
    height: clamp(38.875rem, 37.48rem + 6.974vw, 42.188rem);
    background-image: url(img/flower-bgi.svg);
    background-size: contain;
    position: absolute;
    top: clamp(2.625rem, 2.414rem + 1.053vw, 3.125rem);
    left: -10.25rem;
    z-index: 0;
}

@media (max-width: 75rem) {
    .prediction__intro .container::after {
        left: unset;
        right: -9rem;
    }
}

.prediction p,
.prediction h1,
.prediction h2,
.prediction iframe {
    position: relative;
    z-index: 3;
    color: var(--clr-black-text);
}

.prediction__intro {
    background: var(--gradient-light-yellow-pink);
    width: 100%;
}

.prediction__intro .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: clamp(1.5rem, 1.079rem + 2.105vw, 2.5rem);
    gap: 0.5rem;
}

.prediction__intro-heading {
    width: 25ch;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 128.5%;
}

.prediction__intro-description {
    font-size: 1.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: 147.4%;
    width: 33.75rem;
    margin-bottom: 5rem;
}

/* VIDEO */

.prediction__video {
    background-color: var(--clr-light-grey);
}

.prediction__video .container {
    margin-top: -2.5rem;
    display: flex;
    flex-direction: row;
}

@media (max-width: 75rem) {
    .prediction__video .container {
        flex-direction: column;
        margin-top: -1.5rem;
    }
}

.prediction__video__aside {
    display: flex;
    flex-direction: column;
    width: 15.875rem;
}

@media (max-width: 75rem) {
    .prediction__video__aside {
        width: unset;
        margin-bottom: 1.5rem;
    }
}

.prediction__video__aside-photo {
    width: 7.625rem;
    aspect-ratio: 1;
    -webkit-mask-image: url(img/blob.png);
    mask-image: url(img/blob.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.prediction__video__aside-name {
    font-family: Commissioner;
    font-size: 1.438rem;
    font-style: normal;
    font-weight: 500;
    line-height: 139.13%;
}

.prediction__video__aside-specialty {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.prediction__video__aside-description {
    margin-top: 0.5rem;
    font-size: 1.188rem;
    font-style: normal;
    font-weight: 400;
    line-height: 147.368%;
}

.prediction__video__aside-length {
    margin-top: auto;
    margin-bottom: clamp(1.5rem, 1.079rem + 2.105vw, 2.5rem);
    max-width: 20ch;
}

@media (max-width: 75rem) {
    .prediction__video__aside-length {
        display: none;
    }
}

.prediction__video__iframe {
    background-color: black;
    width: 50.625rem;
    aspect-ratio: calc(16/9);
    margin-bottom: clamp(1.5rem, 1.079rem + 2.105vw, 2.5rem);
}

@media (max-width: 75rem) {
    .prediction__video__iframe {
        width: 100vw;
        margin-left: -5.625vw;
    }
}

/* AUDIO */
.prediction__audio {
    padding-bottom: clamp(3rem, 2.789rem + 1.053vw, 3.5rem);
    background-color: var(--clr-light-grey);
}

.prediction__audio .container {
    width: 56.25rem;
    overflow: hidden;
}

.prediction__audio-heading {
    margin-bottom: 1.5rem;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

.prediction__audio-player {
    display: flex;
    padding: 1rem 1rem 2.5rem 1rem;
    flex-direction: column;
    border-radius: 1rem;
    background: var(--clr-white);
    box-shadow: 0px 2px 4px 0px rgba(234, 234, 229, 0.20);
    cursor: grab;
}

.prediction__audio-player__signs {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: var(--clr-white);
    border-radius: 1rem 1rem 0 0;
    padding-bottom: 1.25rem;
    margin-bottom: -1.25rem;
    overflow-y: hidden;
}

.prediction__audio-player__signs:last-child {
    margin-right: 0;
}

.prediction__audio-player__sign {
    min-width: 4.5rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.prediction__audio-player__sign:hover {
    background: url(img/zodiac_sign_hover.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.prediction__audio-player__sign.active {
    background: url(img/zodiac_sign_hover.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.prediction__audio-player__sign-img {
    width: 1.875rem;
}

.prediction__audio-player__sign-name {
    font-size: 0.75rem;
    margin-top: 0.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.prediction__audio-player__content {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-white);
    border-radius: 0 0 1rem 1rem;
}

@media (max-width: 75rem) {
    .prediction__audio-player__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.prediction__audio-player__content audio {
    max-width: 29.25rem;
    width: 80vw;
}

.prediction__audio-player__content-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 19ch;
}

.prediction__audio-player__content-button {
    display: flex;
    height: 3rem;
    width: 10.56rem;
    color: var(--clr-white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3.75rem;
    border: none;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 22.8px */
    background: var(--gradient-blue);
}

.prediction__audio-player__content-button:hover{
    background: var(--clr-blue);
}

@media (max-width: 75rem) {
    .prediction__audio-player__content audio {
        margin-block: 1.5rem;
    }

    .prediction__audio-player__content-text {
        margin-bottom: 1.125rem;
    }
}

/* REVIEWS */

.reviews {
    background-color: var(--clr-black-bg);
}

.reviews__heading {
    margin-top: 2.5rem;
    color: var(--clr-white);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 128.571%;
}

.reviews__slider {
    width: 100vw;
}

.reviews__review {
    width: 90vw;
    max-width: 33.75rem;
    background-color: var(--clr-white);
    border-radius: 1rem;
    padding: 1.5rem 1rem 0px 1rem;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 0.5rem;
}

.reviews__review-text {
    padding-bottom: 3.25rem;
    border-bottom: 1px solid var(--clr-light-grey);
}

.reviews__review-client {
    align-self: center;
    color: var(--clr-black-text);
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 147.368%;
    margin-left: 1rem;
}

.reviews__review-photo {
    margin-block: 0.5rem;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 1rem;
}

.reviews__controls {
    display: flex;
    justify-content: center;
    margin-bottom: 7.5rem;
}

.reviews__controls>* {
    position: static;
}

.reviews__controls .slick-dots li button:before {
    color: var(--clr-white);
    font-size: 0.5rem;
}

.reviews__controls .slick-dots {
    width: unset;
    margin-inline: 1rem;
}

.reviews__controls .slick-prev {
    background: url(img/arrow_left.svg);
    height: 2.6875rem;
    width: 3rem;
    background-repeat: no-repeat;
    transform: unset;
}

.reviews__controls .slick-prev::before {
    content: '';
}

.reviews__controls .slick-next {
    background: url(img/arrow_right.svg);
    height: 2.6875rem;
    width: 3rem;
    background-repeat: no-repeat;
    transform: unset;
}

.reviews__controls .slick-next::before {
    content: '';
}

.slick-disabled {
    visibility: hidden;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
}

.reviews__controls .slick-next {
    order: 3;
}

/* FOOTER */

.footer {
    border-top: 1px solid var(--clr-deep-dark-grey);
    background: var(--clr-black-bg);
    padding-block: 2rem;
}

.footer__copyright {
    color: var(--clr-dark-grey);
    font-size: clamp(0.813rem, 0.734rem + 0.395vw, 1rem);
    font-weight: 400;
    line-height: 175%;
    max-width: 42rem;
}